<section class="container-fluid bgScreen">
  <div class="container-fluid">
    <div class="chat-component">
      <input class="input" [(ngModel)]="message" placeholder="informe seu negócio aqui...">
      <button class="button" [disabled]="!message" (click)="sendMessage(message)">Enviar</button>
        <div class="loading-indicator"*ngIf="isLoading">
          <i class="fas fa-spinner fa-spin"></i>
          <p>Sua solicitação está em processamento...</p>
        </div>
    </div>
    <div class="chat-box">
      <div class="chat-box-response" *ngFor="let message of response; let i = index" id="{{'response-' + i}}">
        <div class="response-header"><strong>{{customResponseHeaders[i]}}</strong></div>
        <div class="response-text">{{message}}</div>
      </div>
    </div>
      </div>
  </section>
